@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@layer utilities {
  .custom-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(125, 123, 123, 0.09) 0px -3px 5px;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
  .center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .slider {
    @apply bg-cover h-[65vh] w-full shadow-lg;
    background-image: url('/assets/images/anotheralgiers 1.svg');
  }
  .medecineIMG {
    @apply bg-cover h-[65vh] w-full shadow-lg;
    background-image: url('/assets/images/medecineF.jpg');
  }
  .sport {
    @apply bg-cover w-full h-full shadow-lg;
    background-image: url('/assets/images/Rectangle 119.svg');
  }
}

.card {
  width: auto;
  height: auto;
  /* border-radius: 20px; */
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  display: grid;
  justify-content: space-between;
  /* gap: 20px; */
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #1d0a5b;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #ff7518;
  box-sizing: border-box;
  color: #00132c;
  font-family: 'Avenir Next LT W01 Bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #ffaf79;
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #ff7518;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

/*Hover*/
.card:hover {
  border-color: #1d0a5b;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.button-52 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #1d0a5b;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:hover,
.button-52:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-52:active {
  background: var(--color);
  color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}
.background {
  width: 100%;
  height: 100%;
  background-image: url('/assets/icons/patternpad (1).svg');
}
.card-1 {
  position: relative;
  color: white;
  width: auto;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-1 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 125%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1d0a5b;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-1:hover .card__content {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card-1:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

hr {
  border: none;
  border-top: 1px dotted #ff7518;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 80%;
}

.card-2 {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid gray;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}

.card-2 a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #1d0a5b;
  font-size: 15px;
  /* font-size: 0.75rem;
  line-height: 1.25rem; */
  /* font-weight: 500; */
  align-items: center;
  gap: 0.25rem;
  background-color: #ff7518;
  padding: 4px 8px;
  border-radius: 4px;
  /* width: 50%; */
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.container-input {
  position: relative;
}
/* search bar in science islamique */
.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  /* border-radius: 9999px; */
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
  color: black;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}
/* this card is for new of hero page in science islamique */

.card-3 {
  --border-radius: 0.75rem;
  --primary-color: #15803d;
  --secondary-color: #64ab7e;
  width: auto;
  font-family: 'Arial';
  padding: 1rem;
  cursor: pointer;
  color: white;
  padding: 0px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}
.feature {
  background: rgba(0, 0, 0, 0.6);

  min-width: 100%;
  min-height: 100%;
}
.card-3 > * + * {
  margin-top: 1.1em;
}

.card-3 .card__content-2 {
  color: var(--secondary-color);
  font-size: 0.86rem;
  color: white;
}

.card-3 .card__title-2 {
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  direction: rtl;
  position: absolute;
  bottom: 50px;
  right: 16px;
}

.card-3 .card__date-2 {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom: 30px;
  right: 16px;
}

.card-3 .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3 svg {
  transition: 0.2s;
}

/* hover */
.card-3:hover .card__title-2 {
  color: var(--primary-color);
  text-decoration: underline;
}

.card-3:hover .card__arrow {
  background: #111;
}

.card-3:hover .card__arrow svg {
  transform: translateX(3px);
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  color: #64748b;
  font-size: 10px;
}

.active {
  background-color: #078e38;
  color: #fff;
}

.card-4 {
  width: 390px;
  height: 354px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  left: 180px;
  bottom: 300px;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #1d0a5b;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #190b46;
}

.consulter {
  width: 120px;
  height: 50px;
  color: #190b46;
  border: 3px solid #87ceeb;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;

  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

.consulter:hover {
  background: #87ceeb;
  color: #190b46;
  font-size: 1em;
}
